/* CSS declarations go here */
.center {
  margin: auto;
  width: 50%;
}
.searchbar {
  width: 90%;
  border: 1px solid grey;
}
.glyphicon-search {
  padding: 11px;
  width: 8%;
  padding-bottom: 15px;
}
