/* CSS declarations go here */
.center {
  margin: auto;
}
.searchbar {
  /*width: 90%;*/
  border: 1px solid grey;
}
.glyphicon-search {
  padding: 2px;
  /*width: 8%;*/
  /*padding-bottom: 15px;*/
}
.mainpage {
  width: 60%;
}
.aboutpage {
  width: 80%;
}
.browseRecipes{
  margin: auto;
  text-align:center;
}
.profilepage {
  width:60%;
}
.addrecipepage{
  width:60%;
}

.recipePage{
  width:100%;
}

textarea {
  width: 95%;
}

/*pop up page bellow*/
.overlay {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.7);
      transition: opacity 500ms;
      visibility: hidden;
      opacity: 0;
}
.overlay:target {
      visibility: visible;
      opacity: 1;
}

.popup {
      margin: 100px auto;
      padding: 20px;
      background: #fff;
      border-radius: 5px;
      width: 70%;
      position: relative;
      transition: all 0.2s ease-in-out;
}

.popup h2 {
      margin-top: 0;
      color: #333;
      font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
      position: absolute;
      z-index: 1;
      top: 20px;
      right: 30px;
      transition: all 200ms;
      font-size: 30px;
      font-weight: bold;
      text-decoration: none;
      color: #333;
}
.popup .close:hover {
      color: #06D85F;
}
.popup .content {
      max-height: 50%;
      overflow: auto;
}

.showslide {
  display: inline-block;
}
/*pager*/
.pagination {
    /*display: inline-block;*/
    text-align:center;
    width:100%;
}

.pagination a {
    color: black;
    /*float: left;*/
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a:hover {
    color: #06D85F;
}

.pagination h2{
  display: inline;
  cursor:pointer;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination h3{
  display: inline;
  padding: 8px 16px;
  text-decoration: none;
}

.clickable-row {
  cursor: pointer;
}

/*profile page*/
.container {
    width:100%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.glyphicon{
    font-size: 20px;
}
.glyphicon-search{
    font-size:15px;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
input[type=text], select, textarea {
    width: 85%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
.login{
  font-size: 17px;
}
.glyphicon-bullhorn{
  font-size: 10px;
}
/*.startCooking {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}*/
